
html {
  font-size: 14px;
}

button {
  background-color: white;
  border-color: orange;
  border-width: 0.2rem;
  border-radius: 0.8rem;
  height: 3rem;
  width: 15rem;
  font-size: 1.5rem;
  text-align: center;
}

.btn {
  text-align: center;
  padding: 1.5rem;
}

.keys {
  display:flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

.key {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  width: 6rem;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  transition: all .07s;
}

.playing {
  transform: scale(1.1);
  border-color: orange;
  border-width: 0.2rem;
}

.sound {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.random {
  font-size: 10rem;
  color: orange;
}