
html {
  font-size: 14px;
}

.keys {
  display:flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  width: 6rem;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
}

.sound {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}